[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "external/glucose"]
	path = external/glucose
	url = https://github.com/black-sat/glucose.git
